XML, ATOM, DTD, XSD/actividad2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="heladeria">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="helado">
                    <xs:complexType>
                        <xs:attribute name="fabricacion" type="xs:date"/>
                        <xs:choise>
                        <xs:element name="chocolate" type="xs:integer"/>
                            <xs:restriction base="xs:integer">
                                <xs:minIxclusive value="0"/>
                                <xs:maxIxclusive value="1000"/>
                            </xs:restriction>
                        <xs:element name="fresa" type="xs:integer"/>
                            <xs:restriction base="xs:integer">
                                <xs:minIxclusive value="0"/>
                                <xs:maxIxclusive value="1000"/>
                            </xs:restriction>
                            </xs:choise>
                            <xs:choise>
                        <xs:element name="vainilla" type="xs:integer"/>
                            <xs:restriction base="xs:integer">
                                <xs:minIxclusive value="0"/>
                                <xs:maxIxclusive value="1000"/>
                            </xs:restriction>
                        <xs:element name="turron" type="xs:integer"/>
                            <xs:restriction base="xs:integer">
                                <xs:minIxclusive value="0"/>
                                <xs:maxIxclusive value="1000"/>
                            </xs:restriction>
                            <xs:element name="nata" type="xs:integer"/>
                            <xs:restriction base="xs:integer">
                                <xs:minIxclusive value="0"/>
                                <xs:maxIxclusive value="1000"/>
                            </xs:restriction>
                            </xs:choise>
                    </xs:complexType>
                    </xs:element>  
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>